
#users{
    background:#314772;
    text-align: center;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
 
}
 
#user input{
    padding: 5px;
    width: 280px;
    margin: 5px;
    font-family: tahoma

}
 
 
